@charset "UTF-8";

body{
	margin-top: 50pt;
}

.newline{
	white-space: pre-wrap;
	margin-left: 100pt;
}

.title{
	text-align: center;
	font-size: 15pt;
	margin-left: 100pt;
}

.first-picture{
	margin-left: 100pt;
}

.start-button{
	text-align: center;
	color: white;
	background-color: blue;
	border-radius: 10%;
	margin-bottom: -50pt;
	margin-left: 270pt;
	margin-top: 10pt;
	padding-top: 0pt;
	padding: 5pt;
	width: 500px;
	font-size: 15pt;
}